.right-button-in-form{
    margin-left: 0px;
    margin-top: 10px;
    float: right;
}

.left-button-in-form{
    margin-right: 40px;
    margin-top: 10px;
    float: left;
}

.go-back-button {
    margin: 20px;
    background-color: #555;
  }
  
  .go-back-button:hover {
    background-color: #444;
  }