tablebutton-text {
    text-decoration: underline;
    color: blue;
    transition: all .1s linear;
    
}
  
tablebutton-text:hover {
    color: #a58bdd;
}

.tablebutton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.grid {
    height: 100vh;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, auto);
}

.navigation {
    width: 220px;
    grid-column-start: 2;
    grid-column-end: 1;
}

.edit {
    width: 1700px;
    grid-column-start: 2;
    grid-column-end: 3;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Стиль для заголовка */
h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
}

.table-input {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    width: 100%;
}

/* Стили для таблицы */
table {
    border-collapse: collapse;
    border: 1px solid #eee;
    width: 100%;
    margin: 20px 0px 20px;

}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {

    background-color: #fff;

}

tr:nth-child(even) {

    background-color: #F7F7F7;

}

tr:hover {
    background-color: #cfcece;
}

.pagination {
    padding: 0.5rem;
}

/* Стили для формы редактирования */
.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form label {
    font-weight: bold;
    margin-bottom: 5px;
}

/*
table select {
    /* Общие стили для всех элементов <select> в таблице 
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

table select:focus {
    /* Стиль элемента <select> при получении фокуса 

}

table select:hover {
    /* Стиль элемента <select> при наведении курсора мыши 
    border-color: #999;
}

table select option {
    /* Стиль элемента <option> внутри элемента <select> 
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}
*/

select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  select:focus {
    border-color: #0077cc;
    box-shadow: 0 0 5px rgba(0, 119, 204, 0.5);
  }
  
  select:hover {
    border-color: #999;
  }
  
  /* Стиль для элементов <button> */
  .standard-button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #0077cc;
    cursor: pointer;
  }
  
  .standard-button:hover {
    background-color: #005fa3;
  }