.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .breadcrumb{
    display:inline-block;
  }

  .exitButton{
    display:inline-block;
    float:right;
  }

  button.link { background:none; border:none; }